// 基础背景样式颜色
$basicBgColor: #ecf5ff;
// 主要按钮
$primaryBgColor: #66b1ff;
// 成功按钮
$successBgColor: #85ce61;
// 提示按钮
$infoBgColor: #909399;
// 失败按钮
$warningBgColor: #e6a23c;
// 危险按钮
$dangerBgColor: #f78989;

// 朴素
// 主要按钮
$primarycPlainBgColor: #f0f9eb;
// 成功按钮
$successcPlainBgColor: #f4f4f5;
// 提示按钮
$infocPlainBgColor: #f4f4f5;
// 失败按钮
$warningcPlainBgColor: #fdf6ec;
// 危险按钮
$dangercPlainBgColor: #fef0f0;
